/* Стили для сброса значений по умолчанию и корректного отображения */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стили для body */
body {
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Стили для центрирования текста */
.center-text {
  text-align: center;
}

/* Стили для блоков с жанрами музыки */
.genres {
  display: flex;
  justify-content: space-between;
}

.genre {
  margin-right: 5px;
}

.genre:last-child {
  margin-right: 0;
}

/* Стили для заголовка */
.center-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.header-text {
  font-size: 24px;
}

/* Стили для блоков с жанрами ниже */
.bottom-genres {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.bottom-genre {
  margin-right: 5px;
}

.bottom-genre:last-child {
  margin-right: 0;
}

.genre-image {
  width: 100px; /* Установите нужную ширину */
  height: auto; /* Автоматический расчет высоты для сохранения пропорций */
}

.genre-button {
  width: 100px; /* Установите нужную ширину */
  height: 30px; /* Установите нужную высоту */
  margin-right: 5px; /* Установите нужный отступ справа */
}
.burger-menu {
  background-color: gray !important;
  width: 30px !important;
  height: 30px !important;
  border: none !important;
  padding: 0 !important;
}

.burger-menu img {
  width: 100% !important;
  height: 100% !important;
}
#btn {
  width: 30px; /* Измените значение, чтобы изменить ширину */
  height: 30px; /* Измените значение, чтобы изменить высоту */
}
.custom-button {
  position: absolute;
  top: 10px; /* Измените значение, чтобы задать желаемую высоту */
  left: 10%; /* Измените значение, чтобы задать желаемую горизонтальную позицию */
  transform: translateX(-30%);
}
.menu {
  background-color: white;
  z-index: 9999;
  position: relative;
  top: -7px;
  right: -35px;
}









