/* Стили для сброса значений по умолчанию и корректного отображения */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стили для body */
body {
    background-color: gray !important;
    color: var(--tg-theme-text-color);
}

/* Стили для центрирования текста */
.center-text {
    text-align: center;
}

/* Стили для блоков с жанрами музыки */
.genres {
    display: flex;
    justify-content: flex-end;
}

.genre {
    margin-right: 10px;
}

/* Стили для заголовка */
.center-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.header-text {
    font-size: 24px;
}
